<h1>コメント詳細</h1>
<div>
  <p>ユーザープロフ画：<%= image_tag 'no_image.jpg' %></p>
  <p>本文：<%= @comment.body %></p>
  <p>ユーザーネーム：<%= @comment.user.name %></p>
  <p>投稿日：<%= @comment.created_at.strftime('%Y/%m/%d') %></p>
</div>