<div class='container px-5 px-sm-0'>
  <div class='row'>
    <!--ユーザープロフィール情報-->
    <div class='col-md-3 border border-3 border-info rounded'>
      <%= render 'user_info', user: @user %>
    </div>

      <!--お店検索など-->
    <div class='col-md-8 offset-md-1'>
      <h2>お店を探す</h2>
      <%#= link_to %>
      <%= form_with url: shops_search_path, method: :get, local: true do |f| %>
         <div class="form-group">
          <%= f.text_field :keyword, class: "form-control", :placeholder => "店名、住所、駅名、お店ジャンルなどのフリーワード検索が可能です。" %>
        </div>
        <div class="field">
          <%= f.submit "検索する", class: "btn btn-primary btn-sm" %>
        </div>
      <% end %>
      <hr class="hr1">
      <h2>お気に入りのお店一覧</h2>
      <hr class="hr2">
      <table width="100%">
        <tbody>
          <tr>
            <th>店名</th>
            <th>お店のジャンル</th>
          </tr>
          <tr>
            <th></th>
            <th></th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>