@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti:wght@500&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

* {
  font-family: 'Kaisei Opti', serif;
  }

.link{
  text-decoration: none;
  color: white ;
}